:root {
    --cool-gold: #29d6b9;
    /*--cool-gold: hsl(271, 96%, 44%);*/
    --background-color: black;
    /*font-size: 30px !important;*/
    width: 100%;
    height: 100%;
}

* {
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family:monospace;

}

a {
    color: var(--cool-gold);
}

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125%;
    position: relative;
    margin: 0;
    padding: 0;
}

#logo {
    filter: contrast(.855);
}

#intro {
    position: absolute;
    top: 0;
    background-color:  hsl(0,0%,7%);
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 1rem;

    min-width: 283px;

    /*animation: fadeAway 1s ease 10s forwards*/
}

#line1 {
    font-size: 2rem;
}

#line2 {
    font-size: 1.5rem;
}

#line3 {
    font-size: 1rem;
}

.line {
    background-color: hsl(0,0%,7%);
}
#mainBody * {
    background-color: hsl(0,0%,7%);
}

#mainBody {
    background-color: hsl(0,0%,7%);
    /*max-width: 70ch;*/
    width: clamp(60ch, 80vw, 70ch);
    height: 100%;
    position: absolute;
    padding: 10px;
}

h1 {
    padding-bottom: 0;
    padding-left: 2ch;
}

hr {
    color: var(--cool-gold);
    padding: auto;
}