:root {
    --cool-gold: #29d6b9;
    /*--cool-gold: hsl(271, 96%, 44%);*/
    --background-color: black;
    /*font-size: 30px !important;*/
    width: 100%;
    height: 100%;
}

* {
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family:monospace;

}

a, a * {
    color: var(--cool-gold);
}

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200%;
    position: relative;
    margin: 0;
    padding: 0;
}

#logo img {
    filter: contrast(.855);

}

#intro {
    position: absolute;
    top: 0;
    background-color:  transparent;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 1rem;

    min-width: 283px;

    /*animation: fadeAway 1s ease 10s forwards*/
}

#line1 {
    font-size: 2rem;
}

#line2 {
    font-size: 1.5rem;
}

#line3 {
    font-size: 1rem;
}

.line {
    background-color: hsl(0,0%,7%);
}
#mainBody * {
    background-color: hsl(0,0%,7%);
}

#mainBody {
    background-color: hsl(0,0%,7%);
    /*max-width: 70ch;*/
    width: clamp(45ch, 80vw, 70ch);
    height: 100%;
    position: absolute;
    padding: 10px;
}

iframe {
    --width: clamp(45ch - 20px, 80vw - 20px, 70ch - 20px);
    width: var(--width);
    height: calc(var(--width) *.56);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-bottom: 0;
    padding-left: 2ch;
    margin-bottom: 0.4em;
}

hr {
    background-color: var(--cool-gold) !important;
    border: none;
    height: 1px;
    padding: auto;
}

/*media query for mobile device*/
@media only screen and (max-width: 600px) {
    #logo {
        margin-bottom: 40px;
    }
    #intro {
        margin-top: 35px;
    }
  }
